<form id="auction_paid_at" action="{{ path('auction_payment_create', {id: auction.id}) }}" method="post">
    <div class="form-group">
        <label for="bso_amount">付款金額</label>
        <input type="text" id="bso_amount" name="amount" class="numeric form-control" />
    </div>

    <div class="form-group">
        <label for="bso_paytype">付款方式</label>

        <select id="bso_paytype" name="pay_type" class="form-control">
        {% for payType in payTypes %}
            {% if payType.id in [1, 2, 67, 81] %}
                <option value="{{payType.id}}" {% if 67 == payType.id %}selected{% endif %}>{{payType.name}}</option>
            {% endif %}
        {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="bso_paidat">付款時間</label>
        <input type="datetime" name="paid_at" class="form-control" readonly value="{{ "now"|date('Y-m-d') }}">
    </div>

    <div class="form-group">
       {#  <button type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-ok"></i>
            確認
        </button> #}
    </div>
</form>