<div id="_soldop" class="panel panel-default">
    <div class="panel-heading">
        付款相關:
    {% if constant('Woojin\\StoreBundle\\Entity\\Auction::PROFIT_STATUS_NOT_PAID_YET') == auction.profitStatus %}
        (尚欠{{auction.getOwe()}}元)
    {% endif %}
    {% if constant('Woojin\\StoreBundle\\Entity\\Auction::PROFIT_STATUS_PAY_COMPLETE') == auction.profitStatus %}
        (於{{auction.getPaidCompleteAt().format('Y-m-d')}}付清)
    {% endif %}
    </div>

    <div class="panel-body">
        {% include 'WoojinGoodsBundle:Goods/v2:flashbag.html.twig' %}

        {% if auction.isAllowedEditPayment(app.user) %}
            {% include 'WoojinGoodsBundle:Goods/v2/auction:__editPayment.html.twig' %}
        {% endif %}
        
        {% if 0 < auction.payments|length  %}
            {% include 'WoojinGoodsBundle:Goods/v2/auction:__paymentHistory.html.twig' %}
        {% endif %}
        
        {% if auction.isAllowedEditPayment(app.user) or auction.shipping %}
            {% include 'WoojinGoodsBundle:Goods/v2/auction:__shippingForm.html.twig' %}
        {% endif %}
    </div>
</div>
