{# <h2 class="welcome-title">歡迎來到香榭國際精品</h2>
<p>Suspendisse et tincidunt ipsum, et dignissim urna. Vestibulum nisl tortor, gravida at magna et, suscipit vehicula massa.</p><br>
<div class="row margin-bottom-50">
    <div class="col-sm-4 md-margin-bottom-20">
        <div class="site-statistics">
            <span>20,039</span>
            <small>Products</small>
        </div>    
    </div>
    <div class="col-sm-4 md-margin-bottom-20">
        <div class="site-statistics">
            <span>54,283</span>
            <small>Reviews</small>
        </div>    
    </div>
    <div class="col-sm-4">
        <div class="site-statistics">
            <span>376k</span>
            <small>Sale</small>
        </div>    
    </div>
</div>
<div class="members-number">
    <h3>Join more than <span class="shop-green">13,000</span> members worldwide</h3>
    <img class="img-responsive" src="assets/img/map.png" alt="">
</div>   #}

{% include 'WoojinFrontBundle:Custom/Login:notice.html.twig' %}