<ul class="nav nav-tabs" role="tablist">
    {% for auction in product.auctions %}
        <li role="presentation" class="{% if loop.last %}active{% endif %}">
            <a href="#auction_{{ auction.id }}" role="tab" data-toggle="tab">
                <span class="label
                {% if auction.status == constant('Woojin\\StoreBundle\\Entity\\Auction::STATUS_ONBOARD') %}
                    label-info
                {% endif %}
                {% if auction.status == constant('Woojin\\StoreBundle\\Entity\\Auction::STATUS_SOLD') %}
                    label-success
                {% endif %}
                {% if auction.status == constant('Woojin\\StoreBundle\\Entity\\Auction::STATUS_BACK_TO_STORE') %}
                    label-default
                {% endif %}">{{ auction.getStatusName() }}</span>

                {% if
                constant('Woojin\\StoreBundle\\Entity\\Auction::PROFIT_STATUS_NOT_PAID_YET') == auction.profitStatus
                and auction.status == constant('Woojin\\StoreBundle\\Entity\\Auction::STATUS_SOLD')
                %}
                <span class="text-muted">尚未付款</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}

    <div class="tab-content">
    {% for auction in product.auctions %}
        <div role="tabpanel" class="tab-pane {% if loop.last %}active{% endif %}" id="auction_{{ auction.id }}">
            <div class="row margin-only-left-10">
                <div class="col-md-12">
                    {% include 'WoojinGoodsBundle:Goods/v2/auction:_bso.html.twig' %}

                    {% if auction.status == constant('Woojin\\StoreBundle\\Entity\\Auction::STATUS_SOLD') %}
                        {% include 'WoojinGoodsBundle:Goods/v2/auction:_soldinfo.html.twig' %}
                    {% endif %}

                    {% if auction.status == constant('Woojin\\StoreBundle\\Entity\\Auction::STATUS_SOLD') 
                        and auction.profitStatus in [
                            constant('Woojin\\StoreBundle\\Entity\\Auction::PROFIT_STATUS_NOT_PAID_YET'),
                            constant('Woojin\\StoreBundle\\Entity\\Auction::PROFIT_STATUS_PAY_COMPLETE')
                        ]
                    %}
                        {% include 'WoojinGoodsBundle:Goods/v2/auction:_soldop.html.twig' %}
                        
                        {% include 'WoojinGoodsBundle:Goods/v2/auction:_history.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</ul>
