<div class="row">
    <div class="col-md-3 col-xs-12">
        <a href="#"><img class="footer-logo woojin-logo-footer" src="/img/香榭LOGO_w.png" alt="香榭logo"></a>
    </div>

    <div class="col-md-9 col-xs-12">
        <div class="row">
            {# <div class="col-md-5">
                <img src="/bundles/woojinfront/img/staff-group.jpg" class="img-responsive" alt="香榭國際精品員工團體照">
            </div> #}

            <div class="col-md-12 col-xs-12">
                {# <div class="col-xs-8"> #}
                    <h1 class="white font-18">香榭國際精品 竭誠為您服務</h1>
                    <ul class="list-unstyled address-list margin-bottom-20 ">
                        <li><span class="fa fa-angle-right"></span>客服時間:&nbsp;&nbsp;MON - SUN 1230 - 2130</li>
                        <li><span class="fa fa-angle-right"></span>客服專線:&nbsp;&nbsp;<a href="tel: 02-2992-6616"></a>02-2992-6616 </li>
                        <li><span class="fa fa-angle-right"></span>客服信箱:&nbsp;&nbsp;avenue16882@gmail.com</li>
                        <li><span class="fa fa-angle-right"></span>客服Line:&nbsp;&nbsp;<img src="/img/line_icon.png" width="15" height="15" alt="line">avenue2003</li>
                        <!-- <li><span class="fa fa-angle-right"></span>Whatsapp.LINE.WeChat: +886 952-104-510</li> -->
                    </ul>

                    <div class="fb-like-box position-abs bottom-0 right-30 border-white-solid hidden-xs" data-href="https://www.facebook.com/avenue2003" data-height="70" data-width="200" data-colorscheme="dark" data-show-faces="false" data-header="true" data-stream="false" data-show-border="true"></div>
                {# </div> #}
            </div>
        </div>
    </div>
</div>