<h3>{% block h3 %}{% endblock %}</h3>
<div>
	<div class="accordion_left">{% block left%}{% endblock %}</div>
	<div class="accordion_right">{% block right %}{% endblock %}</div>
</div>
{% block js %}{% endblock %}