{% extends '::bootstrap.html.twig' %}

{% block body -%}
{% if app.user|has_auth('BRAND') %}
    <h1>{{ entity.name }}
        <small>
            <a href="{{ path('brand') }}" class="btn btn-primary btn-sm">
                回到列表
            </a>
        </small>
    </h1>

    {{ form(edit_form) }}

    {{ form(delete_form) }}
{% else %}
    {% include 'WoojinStoreBundle:Common:warning.html.twig' %}
{% endif %}
{% endblock %}
