{% extends '::bootstrap.html.twig' %}

{% block body -%}
{% if app.user|has_auth('BRAND') %}

    <h1>
        <small>
            <a href="{{ path('brand') }}" class="btn btn-info">
                回到列表
            </a>
        </small>
    </h1>

    <div class="row">
         {{ form(form) }}
    </div>
{% else %}
    {% include 'WoojinStoreBundle:Common:warning.html.twig' %}
{% endif %}
{% endblock %}
