/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/HTML
/web/csv
/web/bower_components
/web/uploads
/web/compiled/*
/web/js/compiled/*
/web/assetic/*
/web/img/product
nohup.out
composer.lock
npm-debug.log
/web/js/63f2135.js
/web/js/63f2135_part_1.js
/web/cache/*
.DS_Store
/.phpintel