{% extends 'WoojinFrontBundle::base.html.twig' %}

{% block title %}歷史沿革{% endblock %}

{% block body %}

<div class="container content"> 
<div class="col-md-9">
    <ul class="timeline-v2 mt-30">
        <li>
            <time class="cbp_tmtime" datetime="">
                <span>05/2003</span>
            </time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>第一家實體門市店面</h2>
                <div class="row">
                    <div class="col-md-12">    
                        <p>香榭國際精品由創辦人ALAN CHEN 先生於2003年在台北忠孝東路(東區)成立第一家實體門市店面，主力買賣二手商品為主，並且在台灣開起全新的二手名牌包交流的全新創舉，推出不久即成為其他同業爭相模仿的全新經營模式。後經過成本考量，把原本東區門市移至新北市繼續經營。</p>
                    </div>
                </div>        
            </div>
        </li>
        <li>
            <time class="cbp_tmtime" datetime="">
                <span>08/2010</span>
            </time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>踏出全新的第一步</h2>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive" src="/img/timeline_2.jpg"/>
                    </div>
                    <div class="col-md-8">    
                        <p>首先在2010年8月在新北市新莊區，成立了香榭名品館，將原先在台北東區店面原汁原味搬移至此，拓展更加舒適的門市空間，進貨品牌總類也陸續增加。</p>
                        <p>創辦人ALAN CHEN先生有鑒於新北市當時並無同質二手精品店家，並且想將更多國外知名的新款精品引進回台，所以悄悄地改變了經營策略</p>
                    </div>
                </div>        
            </div>
        </li>
        <li>
            <time class="cbp_tmtime" datetime="">
                <span>12/2010</span>
            </time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>多家門市串連提供更大的實體門市服務範圍</h2>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive" src="/bundles/woojinfront/img/staff-group.jpg"/>
                    </div>
                    <div class="col-md-8">    
                        <p>於2010年年底開始籌備二館及三館的展店計畫，依舊選定新北市地區進行拓店，並於2011年年初在永和地區成立香榭質屋精品館和2011年年底在中和地區成立香榭三館，形成新莊和中永和一連線的服務，並且提供了到店消費可享後續免費保養不限次數之服務.還可本店購買他店保養的更親民的服務。</p>
                        <p>這項服務在台灣二手精品來說可說是首創，相對性的來說商品總類更加多元且豐富。</p>
                    </div>
                </div>        
            </div>
        </li>
        <li>
            <time class="cbp_tmtime" datetime="">
                <span>02/2011</span>
            </time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>打造精品連鎖龍頭</h2>
                <div class="row">
                    <div class="col-md-12">    
                        <p>ALAN CHEN先生確定將公司規劃為連鎖後，也將原先的香榭名品館正名為香榭國際精品。</p>
                    </div>
                </div>        
            </div>
        </li>
        <li>
            <time class="cbp_tmtime" datetime="">
                <span>10/2011</span>
            </time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>板橋門市開店</h2>
                <div class="row">
                    <div class="col-md-12">    
                        <p>板橋門市開幕，更加深入新板特區特殊高貴族群。</p>
                    </div>
                </div>        
            </div>
        </li>
        <li>
            <time class="cbp_tmtime" datetime="">
                <span>06/2012</span>
            </time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>YAHOO奇摩超級商城指定出貨店鋪</h2>
                <div class="row">
                    <div class="col-md-8"><img src="/img/timeline_6.jpg" class="img-responsive"></div>
                    <div class="col-md-4">    
                        <p>於2012年中榮幸成為YAHOO超級商城指定出貨店家，並且成立兩間商城賣場:香榭國際精品和質屋名品館。兩間不同屬性的網路店鋪，讓香榭可以服務更多喜愛精品的朋友們。</p>
                    </div>
                </div>        
            </div>
        </li>
        <li>
            <time class="cbp_tmtime" datetime="">
                <span>01/2013</span>
            </time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>蘆洲門市開店</h2>
                <div class="row">
                    <div class="col-md-12">    
                        <p>新北市蘆洲增設香榭五館。</p>
                    </div>
                </div>        
            </div>
        </li>
        
        <li>
            <time class="cbp_tmtime" datetime="">
                <span>08/2013</span>
            </time>
            <i class="cbp_tmicon rounded-x hidden-xs"></i>
            <div class="cbp_tmlabel">
                <h2>新增營業項目 一起打造更輝煌的精品王國</h2>
                <div class="row">
                    <div class="col-md-6"><img src="http://localhost.avenue/img/timeline_7.jpg" class="img-responsive"></div>
                    <div class="col-md-6">    
                        <p>2013年下半年，創辦人ALAN CHEN先生決定開放同行批貨服務，並且輔佐銷售和經營模式到上線。不只是批發精品皮件也開放歐系精品服飾的大盤批貨，充足的貨源和商品多元化皆可讓同行滿足選購挑選。</p>
                    </div>
                </div>        
            </div>
        </li>
    </ul>
</div>
</div>
<!--=== Content Part ===-->
{# <div class="container content"> 
    <ul class="timeline-v1">
        <li>
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
            <div class="timeline-panel">
                <div class="timeline-body text-justify">
                    <h2><a href="#">第一家實體門市店面</a></h2>
                    <p>香榭國際精品由創辦人ALAN CHEN先生於2003年在台北忠孝東路(東區)成立第一家實體門市店面，主力買賣二手商品為主，並且在台灣開起全新的二手名牌包交流的全新創舉，推出不久即成為其他同業爭相模仿的全新經營模式。
                        </p>
                    <p>後經過成本考量，把原本東區門市移至新北市繼續經營。</p>
                </div>
                <div class="timeline-footer">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> 2003</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="/img/timeline_2.jpg"/>
                </div>
                <div class="timeline-body text-justify">
                    <h2><a href="#">踏出全新的第一步</a></h2>

                    <p>首先在2010年8月在新北市新莊區，成立了香榭名品館，將原先在台北東區店面原汁原味搬移至此，拓展更加舒適的門市空間，進貨品牌總類也陸續增加。</p>

                    <p>創辦人ALAN CHEN先生有鑒於新北市當時並無同質二手精品店家，並且想將更多國外知名的新款精品引進回台，所以悄悄地改變了經營策略</p>
                </div>
                <div class="timeline-footer">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> August, 2010</li>
                    </ul>
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-badge primarya"><i class="glyphicon glyphicon-record"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img src="/bundles/woojinfront/img/staff-group.jpg" class="img-responsive">
                </div>
                <div class="timeline-body text-justify">
                    <h2><a href="#">多家門市串連提供更大的實體門市服務範圍</a></h2>

                    <p>於2010年年底開始籌備二館及三館的展店計畫，依舊選定新北市地區進行拓店，並於2011年年初在永和地區成立香榭質屋精品館和2011年年底在中和地區成立香榭三館，形成新莊和中永和一連線的服務，並且提供了到店消費可享後續免費保養不限次數之服務.還可本店購買他店保養的更親民的服務。</p>

                    <p>這項服務在台灣二手精品來說可說是首創，相對性的來說商品總類更加多元且豐富。</p>
                </div>
                <div class="timeline-footer">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> Dec, 2010</li>
                       
                    </ul>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
            <div class="timeline-panel">
                
                <div class="timeline-body text-justify">
                    <h2><a href="#">打造精品連鎖龍頭</a></h2>

                    <p>ALAN CHEN先生確定將公司規劃為連鎖後，也將原先的香榭名品館正名為香榭國際精品。</p>
                </div>
                <div class="timeline-footer">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> Feb, 2011</li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
            <div class="timeline-panel">
                
                <div class="timeline-body text-justify">
                    <h2><a href="#">板橋門市開店</a></h2>
                    <p>板橋門市開幕，更加深入新板特區特殊高貴族群。</p>
                </div>
                <div class="timeline-footer primary">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> Oct, 2011</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="timeline-inverted">
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="/img/timeline_6.jpg"/>
                </div>
                <div class="timeline-body text-justify">
                    <h2><a href="#">YAHOO奇摩超級商城指定出貨店鋪</a></h2>
                    <p>於2012年中榮幸成為YAHOO超級商城指定出貨店家，並且成立兩間商城賣場:<strong>香榭國際精品</strong>和<strong>質屋名品館</strong>。兩間不同屬性的網路店鋪，讓香榭可以服務更多喜愛精品的朋友們。</p>
                </div>
                <div class="timeline-footer">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> June, 2012</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="timeline-inverted">
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <img class="img-responsive" src="/img/timeline_7.jpg"/>
                </div>
                <div class="timeline-body text-justify">
                    <h2><a href="#">新增營業項目 一起打造更輝煌的精品王國</a></h2>
                    <p>2013年下半年，創辦人ALAN CHEN先生決定開放同行批貨服務，並且輔佐銷售和經營模式到上線。不只是批發精品皮件也開放歐系精品服飾的大盤批貨，充足的貨源和商品多元化皆可讓同行滿足選購挑選.</p>
                </div>
                <div class="timeline-footer">
                    <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> August, 2013</li>
                    </ul>
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
            <div class="timeline-panel">
                
                <div class="timeline-body">
                    <h2><a href="#">蘆洲門市開店</a></h2>
                    <p>新北市蘆洲增設香榭五館。</p>
                </div>
                <div class="timeline-footer primary">
                    <ul class="list-inline">
                        <ul class="list-unstyled list-inline blog-info">
                        <li><i class="fa fa-clock-o"></i> Jan 29, 2013</li>
                    </ul>
                </ul>                 
            </div>
        </li>
        
        <li class="clearfix float-none"></li>
    </ul>
</div> #}<!--/container-->     
{% endblock %}
