{% extends '::bootstrap.html.twig' %}

{% block body -%}
    {% if app.user|has_auth('PATTERN') %}
        <h1>款式<small>
            <a href="{{ path('pattern') }}" class="btn btn-info">
                回到列表
            </a>
        </small></h1>

        {{ form(form) }}
    {% else %}{% include 'WoojinStoreBundle:Common:warning.html.twig' %}{% endif %}
{% endblock %}
