{#<script>
  (function() {
    var cx = '008103369282502421841:yax-zua2ht0';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>#}


<input id="head-search" type="text" class="pull-left form-control width-90-percent" placeholder="請輸入品名或是型號">
<button id="tool-bar-submit" type="button" class="btn btn-default search-send-p position-abs right-0">搜尋</button>
