 <div class="header-v5 header-static">
    <!-- Navbar -->{% include 'WoojinFrontBundle:Common/header:toolbar.html.twig' %}<!-- End Navbar -->

    <!-- Topbar v3 -->{% include 'WoojinFrontBundle:Common/header:navbar.html.twig' %}<!-- End Topbar v3 -->
</div>