<div id="preloader" class="black">
    <div id="status">
        <p class="center-text">
            <i class="fa fa-spinner fa-spin"></i>資料讀取中...
            <em>您的網路速度會影響讀取的速度!</em>
        </p>
    </div>
</div>