{% extends 'WoojinFrontBundle::base.html.twig' %}
  
{% block title %}服務條款{% endblock %}

{% block preExt %}
<link rel="stylesheet" href="/bundles/woojinfront/plugins/jquery-steps/css/jquery.steps.css">
{% endblock %}

{% block body %}
<div class="container content">     
        <div class="row-fluid privacy">
            <h4 class="font-48">服務條款</h4>
            <hr>
            <p>
                本網站是由香榭國際精品（以下簡稱本公司）所經營之電子商務網站，並依據本網站使用條款及其他相關規範或公告提供您相關服務。當您使用本服務時，即視為已瞭解並同意接受本服務條款之所有內容及相關公告規定。如不同意本網站使用條款之全部或部分者，請勿填寫基本資料及完成後續購物流程或使用本網站服務。若您未滿二十歲，應請家長或監護人瞭解本服務條款之所有內容，並在徵得其同意後使用本網站服務。此外，本網站保留於任何時間點，不經通知隨時修改或暫時或永久停止繼續提供本服務的權利。本網站可能因廣告或其他合作促銷活動而包含其他網站連結，您點選該連結至其他網站，即不適用本網站使用條款及隱私權政策之規範。您需自行判斷各該網站相關條款對您的權益保障是否足夠，再決定是否使用該網站服務。
            </p>
            


            <h4>您的註冊義務</h4>
            <p>
                會員註冊時需提供正確、最新及完整的資料，若提供任何錯誤、不實或不完整的資料，本網站有權暫停或終止帳號，若是帳號長時間沒有使用，本網站也保留關閉帳號的權利。此外，建立的帳號或暱稱中，若有不雅、侵害他人權益等不符網路道德與相關法令的文字，本網站有權請求使用者修改或關閉帳號。
            </p><br>

            <h4>會員帳號、密碼及安全</h4>
            <p>
                使用者在註冊完成後，請妥善保存帳號和密碼，並請於每次使用後確實登出帳號以避免遭盜用。若帳號或密碼遭到盜用或有其他任何安全問題發生時，請立即通知本網站，本網站將儘速協助解決，但不負相關的賠償或補償之責任或義務。
            </p><br>

            <h4>隱私權政策</h4>
            <p>
                會員的註冊以及其他特定資料將依照本網站的「隱私權政策」受到保護與規範。使用者同意本網站依據「隱私權政策」進行您個人資料的蒐集與利用，包括跨國間的傳輸與儲存及本網站及其關係企業內部之利用。下列情況下，本公司有可能會將您於本網站的個人資料給相關機關，或主張其權利受侵害並提示司法機關正式文件之第三人：
            </p>
            <ul>
                <li>依法令或受檢警調、司法機關或其他有權機關基於法定程序之要求;</li>
                <li>在緊急情況下為維護其他客戶或第三人之合法權益</li>
                <li>為維護本網站的正常運作;</li>
                <li>為提供本公司相關服務產生的金流、物流或其他合作廠商之必要資訊;</li>
                <li>使用者有違反任何政府法令或本網站使用條款之情形;</li>
            </ul>
            <br>

            <h4>交易注意事項</h4>
            <p>本網站建立之訂單內容付款後便視為交易成立。</p><br>

            <h4>違約處理</h4><p>
                為維護本網站全體使用者與合作廠商的權益，若您有下列情形之一發生者，本公司得暫停或終止您的購物資格或拒絕您使用本網站全部或部分服務：</p>
                <ul>
                    <li>提供錯誤或不實資料進行登錄。</li>
                    <li>盜刷信用卡或其他盜用金融帳號情形。</li>
                    <li>經本公司認定有惡意解約退貨之情事。</li>
                    <li>對本公司客服部門為騷擾或不當言行。</li>
                    <li>其他違反本網站使用條款或違法之情事。</li>
                </ul>
            <p>您同意本公司依本網站使用條款暫停或終止您的購物資格，或拒絕您使用本網站全部或部分服務時，均無須得到您的同意，且本公司對您或任何第三人均不負任何義務或責任。
            </p><br>

            <h4>使用者的守法義務及承諾</h4>
            <p>
                您需遵守不為任何非法目的或方式使用本網站，並遵守相關法規及網際網路之國際慣例，不得從事侵害他人權益或違法之下屬行為：</p>
                <ul>
                    <li>上載、張貼、公佈或傳送侵害他人權益、違反公共秩序或善良風俗或其他不法之內容。</li>
                    <li>上載、張貼、傳輸或散佈任何含有電腦病毒或任何對電腦軟、硬體產生中斷、破壞或限制功能之程式碼之資料。</li>
                    <li>從事不法交易行為或張貼虛假不實、引人犯罪之訊息。</li>
                    <li>其他本網站有正當理由認為不適當之行為。</li>
                </ul>
            <br>

            <h4>智慧財產權的保護</h4>
            <p>
                本網站所使用之軟體、程式或內容，均由本網站或其他權利人依法擁有其智慧財產權，任何人不得於未經權利人之事前同意而為使用，若欲引用或轉載，除明確為法律所許可者外，必須依法取得本網站或其他權利人的事前書面同意。
            </p><br>

            <h4>補償</h4>
            <ul>
                <li>使用本網站，與本網站連線，違反本網站條款，或侵害其他人任何權利所衍生或導致任何第三人為請求或主張時，使用者同意使本網站及其子公司、關係企業、經理人、代理人、受僱人、合夥人及授權人免於任何損害。</li>
                <li>若本網站依法或依約須對您負擔賠償或補償責任時，本網站之賠償或補償責任以有爭議之該筆交易之實收金額為上限，本網站對於任何因該筆交易所生之其他損害（包含但不限於間接損失），不負任何補償或賠償責任。</li>
            </ul><br>

            <h4>通知</h4>
            <p>如依法或其他相關規定須為通知時，本網站得以但不限於：電子郵件、簡訊、多媒體簡訊、文字訊息、張貼於本網站網頁，或其他現在或未來合理之方式通知您，包括本網站服務條款之變更。但若您違反本網站服務條款，以未經授權的方式存取本網站，您將不會收到前述通知。當您經由授權的方式存取本網站，而同意本網站服務條款時，您即同意本網站所為之任何及所有給您的通知，都視為送達。</p><br>

            <h4>系統中斷或故障</h4><p>使用者於使用本網站時宜自行採取防護與儲存措施。若本網站因中斷或故障對於您造成之不便，致以萬分歉意，惟，本網站不負任何賠償責任。</p><br>

            <h4>一般條款</h4><p>本網站服務條款之解釋與適用，以及與本網站服務條款有關的爭議，除法律另有規定者外，均應依照中華民國法律予以處理，並以台灣台北地方法院為第一審管轄法院。</p><br>

        </div><!--/row-fluid-->        
    </div>
{% endblock %}
