<form action="" method="POST" class="hidden">
	<input type="hidden" name="_method" value="PUT" />
	<input type="hidden" name="require" value="0" />
</form>
<script src="/js/bootbox_v4.js"></script>
<script>
$(function () {
	$('a.btn.complete').click(function () {
		var $this = $(this);

		bootbox.prompt({
			title: '請輸入最後議價',
		  	value: 0,
		  	callback: function(res) {
				if (isNaN(res)) {
					return false;
				}

				if (res) {
					$('form').attr('action', $this.attr('href'));
					$('input[name="require"]').val(res);
					$('form').submit();
				}

				return true;
			}
		});

		return false;
	});

	$('button').not('.bso').click(function () {
		return false;
	});
});
</script>