<form id="consign_done_done" action="" method="POST" class="hidden">
	<input type="hidden" name="_method" value="PUT" />
	<input type="hidden" name="require" value="0" />

	<button id="fix_error" class="hidden" type="button"></button>
</form>
<script src="/js/bootbox_v4.js"></script>
<script>
$(function () {
	$('a.btn.complete').click(function () {
		var $this = $(this);

		bootbox.prompt({
			title: '請輸入最後議價',
		  	value: 0,
		  	callback: function(res) {
				if (isNaN(res)) {
					return false;
				}

				if (res) {
					$('form#consign_done_done').first().attr('action', $this.attr('href'));
					$('form#consign_done_done>input[name="require"]').first().val(res);
				}

				return setTimeout(function () {
					$('#fix_error').click();
				}, 2000);
			}
		});

		return false;
	});

	$('#fix_error').click(function () {
		console.log($('form#consign_done_done>input[name="require"]').first().val());
		$('form#consign_done_done').first().submit();

		return false;
	});

	$('button').not('.bso').click(function () {
		return false;
	});
});
</script>