{% extends '::bootstrap.html.twig' %}

{% block body %}
{% if app.user|has_auth('CONSIGN_INFORM') %}
	<div style="margin-top: 20px">&nbsp;</div>

	{% for flashMessage in app.session.flashbag.get('success') %}
		{% if loop.first %}
			<div class="alert alert-success">
		{% endif %}
	   	<p>{{ flashMessage }}</p>
	   	{% if loop.first %}
	   		</div>
	    {% endif %}
	{% endfor %}

	{% if homeGoodses %}
		{% include 'WoojinOrderBundle:Orders/Consign:_homeGoodses.html.twig' %}
	{% endif %}

	{% if fromOwnGoodses %}
		{% include 'WoojinOrderBundle:Orders/Consign:_fromOwnGoodses.html.twig' %}
	{% endif %}

	{% include 'WoojinOrderBundle:Orders/Consign:_bso.html.twig' %}

	{% include 'WoojinOrderBundle:Orders/Consign:_formscript.html.twig' %}

{% else %}{% include 'WoojinStoreBundle:Common:warning.html.twig' %}{% endif %}
{% endblock %}
