{% extends 'WoojinFrontBundle::base.html.twig' %}

{% block title %}訂單成立{% endblock %}

{% block header %}{% endblock %}

{% block body %}

<div class="modal fade" id="directModal" tabindex="-1" role="dialog" aria-labelledby="myDirectModal" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="myDirectModal" class="modal-title">
                    <span class="icon-cup"></span>&nbsp;導向歐付寶中，請稍後...
                </h4>
            </div>
                  
            <div class="modal-body">
                <p>香榭正在將您的訂單提交給歐付寶，請勿關閉視窗!</p> 

                <form action="{{ path('front_payment_passAllpay') }}" name="allpay" class="hidden" method="POST">
                    <input type="hidden" name="id" value="{{ invoice.id }}" />
                    <input type="hidden" name="avenue_token" value="{{ csrf_token('invoice') }}" />
                </form>
            </div>
        </div>
    </div>
</div> 

{% endblock %} 

{% block footer %}{% endblock %} 

{% block jsExec %}
<script>
    jQuery('form[name="allpay"]').submit();
    jQuery('#directModal').modal('show');
</script>
{% endblock %}