<div class="content">
    <div class="container content-title">
        <h3>Hello there, stranger!</h3>
        <p class="half-bottom">
            Gliders is a elegant mobile template built to structure your page into sections that are easy to
            access, intuitive, and giving your content full exposure!
        </p>
        <div class="center-socials">
            <a href="#" class="facebook-social"><i class="fa fa-facebook"></i></a>
            <a href="#" class="google-social"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="twitter-social"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
    <div class="decoration"></div>
</div>