<!-- Full Image Slider-->
<style>
.slider-image-1 {
    background-image: url('{{ getBackCacheImage('http://img05-tw1.uitoximg.com/A/deploy/AWC000890/1418895222_201412A1100031.jpg', 407, 177) }}');
}
.slider-image-2 {
    background-image: url('{{ getBackCacheImage('http://img05-tw1.uitoximg.com/A/deploy/AWC000890/1418895188_201412A1100031.jpg', 407, 177) }}');
}
.slider-image-3 {
    background-image: url('{{ getBackCacheImage('http://img05-tw1.uitoximg.com/A/deploy/AWC000890/1418895219_201412A1100031.jpg', 407, 177) }}');
}
</style>
<div class="full-slider full-bottom" data-snap-ignore="true">     
    <!-- Image Slider Style 1-->
    <div>
        <div class="overlay dark-overlay"></div>
        <div class="slider-image slider-image-1">
            
            <div class="slider-style-1" style="height:270px; margin-top:-135px">
                <h2>Gliders</h2>
                <h3>Mobile and Tablet Template</h3>
                <p>
                    Powered by two smooth sidebars for a native mobile app like experience!
                </p>
                <a href="#" class="slider-button-1 button-green">Get Started</a>
            </div>
        </div>
    </div>
    <!-- Image Slider Style 2-->
    <div>
        <div class="overlay dark-overlay"></div>
        <div class="slider-image slider-image-2">
            <div class="slider-style-2" style="height:260px; margin-top:-130px;">
                <h2>A Native app</h2>
                <h3>Experience</h3>
                <p>
                    We build HTML5 and CSS3 pages that make your site feel like a 
                    native mobile or tablet experience!
                </p>
                <a href="#" class="slider-button-1 button-blue">There's more</a>
            </div>
        </div>
    </div>
    <!-- Image Slider Style 3-->
    <div>
        <div class="overlay dark-overlay"></div>
        <div class="slider-image slider-image-3">
            <!-- Add your slide height, then margin top must be minus half of that to be perfectly centered -->
            <div class="slider-style-3" style="height:240px; margin-top:-120px">
                <h2>Elite Experience</h2>
                <h3>Built by the best</h3>
                <p>
                    Our motto is to build products we'd recommend to our friends and family and use for ourselves!
                </p>
                <a href="#" class="slider-button-1 button-red">Alternate Homepage</a>
            </div>
        </div>
    </div>
</div>