{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ObjectImage edit</h1>
		<img class="thumbnail" src="{{asset(entity.webPath)}}" />
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('objectimage') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
