<div class="modal fade" id="boardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel" class="modal-title"><span class="glyphicon  glyphicon-warning-sign"> 網站製作中...</span></h4>
            </div>
            <div class="modal-body">
                <h4>親愛的客戶您好:</h4>
                <p>敝站目前尚於測試階段中，結帳以及其他部分功能尚未開放，<em>(您仍然能夠透過FB註冊加入會員並接收香榭最新的優惠訊息。)</em>

                </p>
                <p>目前僅提供瀏覽以及查詢功能，若您對我們的商品感興趣，請參考頁底各門市聯絡方式，我們將有專人為您服務！</p>
            </div>
          </div>
    </div>
</div> 