<!-- Modal -->
<div class="modal fade" id="googlePlusModal" tabindex="-1" role="dialog" aria-labelledby="onlineConsignLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="onlineConsignLabel"><span class="icon-ghost"></span> Google+登入發生錯誤</h4>
      </div>
      <div class="modal-body">
        麻煩請再試一次，或透過其他方式登入。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
        {# <button type="button" class="btn btn-primary">Save changes</button> #}
      </div>
    </div>
  </div>
</div>