<div class="modal fade" id="notAllowCreditCard" tabindex="-1" role="dialog" aria-labelledby="notAllowCreditCardLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="notAllowCreditCardLabel" class="modal-title"><span class="glyphicon  glyphicon-warning-sign">本商品限定門市購買</span></h4>
            </div>
            <div class="modal-body">
                <h4>親愛的客戶您好:</h4>
                <p>本商品由於單價較高，因此不開放線上購買服務。欲購買本商品，請參考頁底各門市聯絡方式，我們將有專人為您服務！
                </p>
            </div>
          </div>
    </div>
</div> 