<!-- Modal -->
<div class="modal fade" id="onlineConsign" tabindex="-1" role="dialog" aria-labelledby="onlineConsignLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="onlineConsignLabel"><span class="icon-ghost"></span> 線上寄賣功能施工中</h4>
      </div>
      <div class="modal-body">
        <img src="/img/online_consign.jpg" class="img-responsive" alt="線上寄賣" />
        若您有需要寄賣的商品，煩請電洽各門市或是來信 <a href="mailto:avenue16882@gmail.com">avenue16882@gmail.com</a>，將有專人為您服務。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
        {# <button type="button" class="btn btn-primary">Save changes</button> #}
      </div>
    </div>
  </div>
</div>