<div class="footer">
    <div class="footer-socials half-bottom">
        <a href="https://www.facebook.com/avenue2003" class="footer-facebook"><i class="fa fa-facebook"></i></a>
{#         <a href="https://twitter.com/avenue_2003" class="footer-twitter"><i class="fa fa-twitter"></i></a>
 #}        <a href="https://plus.google.com/u/0/117154043026933371211" class="footer-google"><i class="fa fa-google-plus"></i></a>
        <a href="{{ path('front_storeIntro')}}" class="footer-facebook my-bg-orange"><i class="fa fa-map-marker"></i></a>
        <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
    </div>
    <div class="position-rel width-100-per my-text-center">
        <span class="mr-10">手機版</span>
        <a href="{{ path('front_index', {device: 'd'}) }}" class="max-width-100 display-inline">電腦版</a>
    </div>
    <p class="center-text">Copyright {{ 'now'|date('Y')}} . All rights reserved.</p>
</div> 