<!-- Modal -->
<div class="modal fade" id="behalfShow" tabindex="-1" role="dialog" aria-labelledby="behalfShowLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--== modal header ==-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="behalfShowLabel">
                    
                </h4>
            </div>
            <!--== modal header End ==-->
     
            <!--== modal body ==-->
            <div class="modal-body">
            </div>
            <!--== modal body End ==-->

            <!--== modal footer ==-->
            <div class="modal-footer">      
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">
                    <span class="icon-close"></span>關閉
                </button>
            </div>
            <!--== modal footer End ==-->
        </div>
    </div>
</div>
