<div ng-controller="AuctionSoldCtrl" class="bs-example bs-example-tabs">
     {% include 'WoojinStoreBundle:Auction/_sold:custom.html.twig' %}

     <div class="row">
         <div class="col-md-8 col-md-offset-2">
             {% include 'WoojinStoreBundle:Auction/_sold:main.html.twig' %}
         </div>
     </div>

     <div class="row" style="margin-top: 200px;">
         <div class="col-md-12"></div>
     </div>
</div>
