{% extends 'WoojinFrontBundle:Profile/common:layout.html.twig' %}

{% block title %}願望清單{% endblock %}

{% block profileBody %}

{% import 'WoojinFrontBundle:Widget/Payment:productInTable.html.twig' as productTableWidget %}

<section id="whishlist-frame">
    <div class="table-responsive">
        <table class="table table-striped shopping-cart">
            <tbody class="product-in-table">{{ productTableWidget.whishlist(products) }}</tbody>
        </table>
    </div>
</section>

{% include 'WoojinFrontBundle:Profile/Frag:noneCollection.html.twig' %}

{% endblock %}