<div class="row margin-bottom-50">
    <div class="col-md-4 pl-5 pr-5">
        <a href="{{ path('front_allcat_filter', {entityName: 'pattern', entityId: 23}) }}" >
            <img class="img-responsive" src="/img/front_index_watch.jpg" alt="前往手錶分類">
        </a>
    </div>

    <div class="col-md-4 pl-5 pr-5">
        <a href="{{ path('front_filter_jewels') }}" >
            <img class="img-responsive" src="/img/front_index_jw.jpg" alt="前往珠寶分類">
        </a>
    </div>

    <div class="col-md-4 pl-5 pr-5">
        <a href="{{ path('front_allcat_filter', {entityName: 'pattern', entityId: 26}) }}" >
            <img class="img-responsive" src="/img/front_index_cloth.jpg" alt="前往服飾分類">
        </a>
    </div>
</div>