<div class="row">
    <div class="col-md-4 product-service md-margin-bottom-30">
        <div class="product-service-heading">
            <span class="fa fa-truck"></span>
        </div>
        <div class="product-service-in">
            <h3>商品全面免運</h3>
            <p>全館商品一律免運費</p>
            <!-- <a href="#">+Read More</a> -->
        </div>
    </div>
    <div class="col-md-4 product-service md-margin-bottom-30">
        <div class="product-service-heading">
            <span class="glyphicon glyphicon-credit-card"></span>
        </div>
        <div class="product-service-in">
            <h3>線上購物貨送到府</h3>
            <p>線上選購，不用出門也能買到香榭優質精品</p>
            <a href="{{ path('front_manual_purchase') }}">購物流程說明</a>
        </div>
    </div>
    <div class="col-md-4 product-service">
        <div class="product-service-heading">
            <span class="icon-refresh"></span>
        </div>
        <div class="product-service-in">
            <h3>七天鑑賞無條件退貨</h3>
            <p>收到商品七日內 如不滿意商品 請保持原包裝即破壞條未拆剪之狀態 即可辦理無條件退貨退款服務</p>
            <a href="{{ path('front_manual_chargeback') }}">退貨流程說明</a>
        </div>
    </div>
</div><!--/end row-->

<div class="row">
    <div class="col-md-4 product-service md-margin-bottom-30">
        <div class="product-service-heading">
            <span class="fa fa-thumbs-up"></span>
        </div>
        <div class="product-service-in">
            <h3>100%原廠正品(包含二手)</h3>
            <p>本公司所有商品皆由專業鑑定團隊嚴格把關 以最實惠的價格入手高貴而不貴的名牌精品</p>
            <!-- <a href="#">+Read More</a> -->
        </div>
    </div>
    <div class="col-md-4 product-service md-margin-bottom-30">
        <div class="product-service-heading">
            <span class="fa fa-space-shuttle"></span>
        </div>
        <div class="product-service-in">
            <h3>快速到貨</h3>
            <p>現貨商品快速送達</p>
            <!-- <a href="#">+Read More</a> -->
        </div>
    </div>
    <div class="col-md-4 product-service">
        <div class="product-service-heading">
            <span class="glyphicon glyphicon-usd"></span>
        </div>
        <div class="product-service-in">
            <h3>線上寄賣買斷</h3>
            <p>專人至府上取件 高價寄賣收購</p>
            <!-- <a href="#">+Read More</a> -->
        </div>
    </div>
</div><!--/end row-->

<div class="row">
    <div class="col-md-4 product-service md-margin-bottom-30">
        <div class="product-service-heading">
            <span class="fa fa-calculator"></span>
        </div>
        <div class="product-service-in">
            <h3>同行批發</h3>
            <p>歐系名牌皮件及服飾批發，輔佐銷售經營</p>
            {# <a href="#">+Read More</a> #}
        </div>
    </div>
    <div class="col-md-4 product-service md-margin-bottom-30">
        <div class="product-service-heading">
            <span class="fa fa-steam"></span>
        </div>
        <div class="product-service-in">
            <h3>各類精品終身保養</h3>
            <p>凡於香榭國際精品購買之任何商品 即享有終身免費保養之服務</p>
            <!-- <a href="#">+Read More</a> -->
        </div>
    </div>
    <div class="col-md-4 product-service">
        <div class="product-service-heading">
            <span class="glyphicon glyphicon-eye-open"></span>
        </div>
        <div class="product-service-in">
            <h3>免費鑑定</h3>
            <p>由專業鑑定團隊幫您免費鑑定</p>
            <!-- <a href="#">+Read More</a> -->
        </div>
    </div>
</div><!--/end row-->