<div id="owl-demo" class="owl-carousel owl-theme">
    <div class="item"><img src="http://img05-tw1.uitoximg.com/A/deploy/AWC000890/1418895226_201412A1100031.jpg" alt="二手精品年終殺很大"></div>
    <div class="item"><img src="http://img05-tw1.uitoximg.com/A/deploy/AWC000890/1418895188_201412A1100031.jpg" alt="香榭購物網開幕慶"></div>
    <div class="item"><img src="http://img05-tw1.uitoximg.com/A/deploy/AWC000890/1418895211_201412A1100031.jpg" alt="全館10期0利率"></div>
    <div class="item"><img src="http://img05-tw1.uitoximg.com/A/deploy/AWC000890/1418895215_201412A1100031.jpg" alt="全台最大連鎖二手精品"></div>
    <div class="item"><img src="http://img05-tw1.uitoximg.com/A/deploy/AWC000890/1418895219_201412A1100031.jpg" alt="專業鑑定/收購/寄賣"></div>
    <div class="item"><img src="http://img05-tw1.uitoximg.com/A/deploy/AWC000890/1418895222_201412A1100031.jpg" alt="各類精品終身保養|七天鑑賞期"></div>
</div>