<h2 class="welcome-title">歡迎光臨香榭國際精品</h2>
<p>香榭國際精品官網試營運中，期間全館商品皆享有優惠折扣，敬請把握!</p>

{# <p>歡慶香榭國際精品官方購物平台開幕.首次註冊登入會員立即贈送免費購物金5000點，且註冊會員20天內首次購物即可在獲得精緻小禮物
</p><br>
 <div class="info-block-v2">
    <i class="glyphicon glyphicon-usd"></i>
    <div class="info-block-in">
        <h3>香榭國際精品專用購物金說明:</h3>
        <ol>
            <li>購物金一點等於現金一元</li>
            <li>單筆消費滿一萬元(含)可使用購物金1000點扣抵</li>
            <li>單筆消費滿三千元以上且不滿一萬元，可使用購物金500點扣抵</li>
            <li>新會員免費贈購物金使用皆需要30天內(含)使用完畢，恕不接受累計次月使用</li>
            <li>首次2000點購物金需在註冊完畢後20天內(含)使用完畢</li>
            <li>購物金皆有使用期限，需在規定期限內使用完畢，且無法移轉至其他帳號或其他優惠活動合併使用</li>
            <li>香榭國際精品保留隨時修正或調整活動辦法之權利</li>
        </ol>
    </div>    
</div>    

<div class="info-block-v2">
    <i class="icon icon-layers"></i>
    <div class="info-block-in">
        <h3>新會員首次登入消費免費贈活動規則及條例:</h3>
        <ol>
            <li>香榭國際官方購物網開幕慶活動期間，凡註冊登入會員成功者，即日起可免費贈送5000點購物金</li>
            <li>註冊完畢後20天內首次購物可使用2000點購物金(1000點及500點活用)，次月可再享有免費1000點購物金使用.</li>
            <li>連續三個月都能享有免費購物金1000點</li>
        </ol>
    </div>
</div> #}





