{% if app.user|has_auth('STOCK_REPORT_OWN') %}
<table class="instore_report">
	<thead>
		<tr>
			<th>進貨時間</th>
			<th>商品名稱</th>
		 	<th>商品產編</th>
		 	<th>品牌</th>
		 	<th>款式</th>
		 	<th>型號</th>
		 	<th>定價</th>
		 	<th>成本</th>
		 	<th>詳細資訊</th>	
		</tr>
	</thead>
	<tbody>
		{% include "WoojinStoreBundle:Report/Tbody:_instore.tbody.html.twig" %}
	</tbody>
</table>

<div class="instore_total">總計成本<span class="nTotalCost"></span>元</div>

<div id="instore_pager" class="pager">
	<form>
		<img src="{{ PagerFirstPng }}" class="first"/>
		<img src="{{ PagerPrevPng }}" class="prev"/>
		<input type="text" class="pagedisplay"/>
		<img src="{{ PagerNextPng }}" class="next"/>
		<img src="{{ PagerLastPng }}" class="last"/>
		<select class="pagesize">
			<option selected="selected"  value="10">10</option>
			<option value="20">20</option>
			<option value="30">30</option>
			<option  value="40">40</option>
		</select>
	</form>
</div>
{% else %}
    {% include 'WoojinStoreBundle:Common:warning.html.twig' %}
{% endif %}
