{% extends '::bootstrap.html.twig' %}

{% block body %}

<!-- Search Panel -->
<div class="row">
    <div class="col-xs-12">
        <h4>店鋪</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>品名&序號</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>產編</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>操作時間</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>商品新舊</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>商品狀態</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>訂單種類</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>訂單狀態</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>材質</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>活動</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>顏色</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>款式</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>品牌</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>色號</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>型號</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>自定內碼</h4><hr>
    </div>

    <div class="col-xs-12">
        <h4>寄戶客戶電話</h4><hr>
    </div>
</div>

<!-- Main info  -->
<div class="row"></div>

 <!-- Pager -->
<div class="row"></div>

<script>
    
</script>
{% endblock %}