<select name="page" class="component hidden" id="page" style="position:fixed; bottom: 20px; left: 5px; z-index: 60;">
    <option value="1" selected>1</option>
</select>

<button id="top" class="btn btn-primary component hidden" style="position:fixed; bottom: 5px; right: 10px; z-index: 60;">
    <i class="glyphicon glyphicon-menu-up"></i>
</button>

<button id="bottom" class="btn btn-warning component hidden" style="position:fixed; bottom: 5px; right: 55px; z-index: 60;"><i class="glyphicon glyphicon-menu-down"></i></button>

<button id="left" role="prev" class="btn btn-default component hidden" style="position:fixed; bottom: 5px; right: 145px; z-index: 60;">
    <i class="glyphicon glyphicon-menu-left"></i>
</button>

<button id="right" role="next" class="btn btn-default component hidden" style="position:fixed; bottom: 5px; right: 100px; z-index: 60;">
    <i class="glyphicon glyphicon-menu-right"></i>
</button>