<!-- Mobile Header START -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="#" class="navbar-brand">
            <img id="logo-header" class="woojin-logo-header" src="/img/香榭LOGO-header.png" alt="香榭logo" style="width: 150px;">
        </a>
        {# <a class="navbar-brand" href="#" data-toggle="modal" data-target="#myModal">設定條件</a> #}
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <div class="row">
            <div class="col-xs-12">
                {% include 'WoojinGoodsBundle:Mobile/index:_condition.html.twig' %}
            </div>
        </div>
    </div>
</div>

<div class="spacer20"></div>