<div class="ajaxResMsgRight">{% block resLeft %}{% endblock %}</div>
<div class="ajaxResMid"><div class="pageBar" style="display:none">{% block pageBar %}{% endblock %}</div></div>
<div class="ajaxResLeft">{% block resRight %}{% endblock %}</div>
<div class="operatePanel">

	{% block myDiv1 %}{% endblock %}
	{% block panelOpen %}<span class="panelSwitch itsOpen hidden"><img /></span>{% endblock %}

	<form action="" class="woojinForm" method="POST" enctype="multipart/form-data" style="margin-left: 31px;">
	<input type="hidden" name="form[_token]" value="{{ _token }}" />
	{% block form %}{% endblock %}
	</form>	
</div>

{% block myDiv2 %}{% endblock %}

{% block js %}{% endblock %}