{# <div class="collection-banner">
    <div class="container">
        <div class="col-md-12 text-center" >
            <h2 style="position: relative; top: 92px; font-size: 55px;">香榭國際精品歡迎您的光臨</h2>
            <p style="position: relative; top: 102px; font-size: 30px;">-北台灣最大連鎖精品，竭誠為您服務-</p><br>
            <!-- <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Shop Now</a> -->
        </div>
        <!-- <div class="col-md-5">
            <div class="overflow-h">
                <span class="percent-numb">100</span>
                <div class="percent-off">
                    <span class="discount-percent">%</span>
                    <span class="discount-off">正品</span>
                </div>
                <!-- <div class="new-offers shop-bg-green rounded-x">
                    <p>new</p>
                    <span>Products</span>
                </div>    
            </div>    
        </div> -->
    </div>
</div> #}

<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="hidden-xs" style="position: absolute;
top: 55%;
font-size: 55px;
color: #fff;
width: 100%;">香榭國際精品歡迎您的光臨</h2>
        <p class="hidden-xs" style="position: absolute;
top: 70%;
width: 100%;
font-size: 30px;
color: #fff;">-北台灣最大連鎖精品，竭誠為您服務-</p><br>
        <img src="/bundles/woojinfront/img/staff-group.jpg" class="img-responsive" alt="香榭國際精品員工團體照">
    </div>
</div>