<script type="text/template" id="whishlist-empty-msg">
<div class="service-block service-block-dark">        
    <i class="icon-custom icon-color-light rounded-x fa fa-exclamation-triangle"></i>
    <h2 class="heading-md">您沒有收藏任何商品</h2>
    <p>您的願望清單目前沒有任何商品。敬請回到<a href="{{ path('front_index') }}">&nbsp;&nbsp;<strong>香榭官網</strong>&nbsp;&nbsp;</a>繼續瀏覽挑選您選喜愛的精品!</p>
</div>
</script>